[submodule "external/Rn.Suite"]
	path = external/Rn.Suite
	url = https://github.com/JKamsker/Rn.Suite.git

[submodule "external/AAXClean"]
	path = external/AAXClean
	url = https://github.com/JKamsker/AAXClean.git

[submodule "external/AudibleApi"]
	path = external/AudibleApi
	url = https://github.com/JKamsker/AudibleApi.git

[submodule "external/atldotnet"]
	path = external/atldotnet
	url = https://github.com/Zeugma440/atldotnet.git

[submodule "/external/FFMpegCore"]
	path = external/FFMpegCore
	url = https://github.com/JKamsker/FFMpegCore.git
